REACT_APP_CLIENT_ID=PASTE_YOUR_SPA_APP_CLIENT_ID
REACT_APP_TENANT_AUTHORITY=https://YOUR_TENANT.ciamlogin.com/
REACT_APP_API_CLIENT_ID=PASTE_YOUR_API_APP_CLIENT_ID
REACT_APP_API_ENDPOINT=https://localhost:44351/api/todolist
